<div id="headline">
  CASH YOUR COINS AT YOUR DOORSTEP. 
</div>
<div id="serving">
     Now serving Los Angeles 
  </div>
<div id="details">
Keep 75%.  Min $5 of coins required.
</div>
<%= link_to("mailto:someone@example.com?Subject=Cash%20for%20coins%20order&Body=Enter Order Details Below:%0D%0A-----------%0D%0A%0D%0AYour Address:%0D%0A Phone Number:%0D%0A Delivery Time:") do %>
<div id="button">
  ORDER NOW
</div>
<% end %>